In [188]:
import pandas as pd

df = pd.read_csv(r"D:\s\updatedstationshour.csv")
df

,AQI,AQI_Bucket,Benzene,CO,City,Date,NH3,NO,NO2,NOx,O3,PM10,PM2.5,SO2,State,StationId,Time,Toluene,Xylene
0,155.0,Moderate,0.30,0.10,Amaravati,2017-11-25,9.80,1.93,23.00,13.75,117.62,148.50,104.00,15.30,Andhra Pradesh,AP001,09:00:00,10.40,0.23
1,159.0,Moderate,0.28,0.10,Amaravati,2017-11-25,9.65,1.33,16.25,9.75,136.23,142.00,94.50,17.00,Andhra Pradesh,AP001,10:00:00,7.10,0.15
2,173.0,Moderate,0.20,0.10,Amaravati,2017-11-25,9.70,1.47,14.83,9.07,149.92,126.50,82.75,15.40,Andhra Pradesh,AP001,11:00:00,4.55,0.08
3,191.0,Moderate,0.10,0.10,Amaravati,2017-11-25,7.40,1.35,13.60,8.35,161.70,117.00,68.50,21.80,Andhra Pradesh,AP001,14:00:00,2.30,0.00
4,191.0,Moderate,0.10,0.10,Amaravati,2017-11-25,9.25,1.52,11.80,7.55,161.68,112.25,69.25,21.38,Andhra Pradesh,AP001,15:00:00,2.35,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203688,223.0,Poor,65.42,1.06,Kolkata,2020-02-14,40.23,44.95,69.05,114.03,16.70,192.38,102.80,7.53,West Bengal,WB010,10:00:00,59.69,1.84
203689,222.0,Poor,57.14,0.79,Kolkata,2020-02-14,39.08,16.15,65.22,81.32,20.47,161.35,85.50,8.60,West Bengal,WB010,11:00:00,51.31,1.41
203690,219.0,Poor,53.71,0.66,Kolkata,2020-02-14,38.53,8.40,52.65,61.08,26.58,143.65,73.75,9.82,West Bengal,WB010,12:00:00,51.38,1.25
203691,217.0,Poor,56.80,0.55,Kolkata,2020-02-14,42.62,5.60,45.03,50.62,28.28,133.38,71.50,9.57,West Bengal,WB010,13:00:00,56.27,1.21
203692,215.0,Poor,56.04,0.62,Kolkata,2020-02-14,48.02,4.20,39.00,43.17,31.63,117.12,54.47,9.20,West Bengal,WB010,14:00:00,55.58,1.12

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203693 entries, 0 to 203692
Data columns (total 19 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   AQI         203693 non-null  float64
 1   AQI_Bucket  203693 non-null  object
 2   Benzene     203693 non-null  float64
 3   CO          203693 non-null  float64
 4   City        203693 non-null  object
 5   Date        203693 non-null  object
 6   NH3         203693 non-null  float64
 7   NO          203693 non-null  float64
 8   NO2         203693 non-null  float64
 9   NOx         203693 non-null  float64
 10  O3          203693 non-null  float64
 11  PM10        203693 non-null  float64
 12  PM2.5       203693 non-null  float64
 13  SO2         203693 non-null  float64
 14  State       203693 non-null  object
 15  StationId   203693 non-null  object
 16  Time        203693 non-null  object
 17  Toluene     203693 non-null  float64
 18  Xylene      203693 non-null  float64
dtypes: float64(13), object(6)
memory usage: 29.5+ MB

In [190]:
# AQI_Bucket_Dict = df['AQI_Bucket'].value_counts()
City_Dict = df['City'].value_counts()
Date_Dict = df['Date'].value_counts()
State_Dict = df['State'].value_counts()
StationId_Dict = df['StationId'].value_counts()
Time_Dict = df['Time'].value_counts()




# df['AQI_Bucket_Dict'] = df['AQI_Bucket'].map(AQI_Bucket_Dict)
df['City_Dict'] = df['City'].map(City_Dict)
df['Date_Dict'] = df['Date'].map(Date_Dict)
df['State_Dict'] = df['State'].map(State_Dict)
df['StationId_Dict'] = df['StationId'].map(StationId_Dict)
df['Time_Dict'] = df['Time'].map(Time_Dict)

In [191]:
print(f"AQI_Bucket_Dict:{AQI_Bucket_Dict}, City_Dict: {City_Dict},Date_Dict:{Date_Dict},State_Dict:{State_Dict},StationId_Dict:{StationId_Dict},Time_Dict:{Time_Dict}")

AQI_Bucket_Dict:Moderate        88654
Satisfactory    69531
Good            22852
Poor            11704
Very Poor        9147
Severe           1805
Name: AQI_Bucket, dtype: int64, City_Dict: Hyderabad        105300
Kolkata           22780
Delhi             22123
Visakhapatnam     21952
Amritsar          12344
Amaravati          6672
Chandigarh         5494
Patna              5063
Gurugram           1965
Name: City, dtype: int64,Date_Dict:2020-03-10    377
2020-03-07    374
2020-03-08    373
2020-03-09    365
2020-02-11    363
             ...
2017-04-12      3
2016-02-20      3
2015-11-11      3
2016-02-21      2
2016-10-12      1
Name: Date, Length: 1650, dtype: int64,State_Dict:Telangana         105300
Andhra Pradesh     28624
West Bengal        22780
Delhi              22123
Punjab             12344
Chandigarh          5494
Bihar               5063
Haryana             1965
Name: State, dtype: int64,StationId_Dict:TG004    23065
AP005    21952
TG003    21282
TG006    21136
TG001    20132
TG002    19685
PB001    12344
DL019    12222
DL001     9901
WB009     8226
AP001     6672
WB007     6249
CH001     5494
WB008     5165
WB010     3140
BR009     2193
HR012     1965
BR008     1637
BR006     1011
BR005      222
Name: StationId, dtype: int64,Time_Dict:21:00:00    8784
20:00:00    8776
19:00:00    8759
09:00:00    8702
01:00:00    8688
22:00:00    8624
18:00:00    8616
10:00:00    8609
23:00:00    8581
08:00:00    8542
17:00:00    8532
02:00:00    8500
00:00:00    8477
07:00:00    8472
11:00:00    8449
13:00:00    8418
15:00:00    8412
16:00:00    8390
05:00:00    8389
14:00:00    8368
06:00:00    8325
03:00:00    8317
04:00:00    8286
12:00:00    7677
Name: Time, dtype: int64

In [192]:
df['AQI_Bucket'].unique()

array(['Moderate', 'Poor', 'Very Poor', 'Satisfactory', 'Good', 'Severe'],
      dtype=object)

In [193]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['AQI_Bucket'] = le.fit_transform(df['AQI_Bucket'])
# df['City'] = le.fit_transform(df['City'])
# df['State'] = le.fit_transform(df['State'])
# df['StationId'] = le.fit_transform(df['StationId'])
# df['Date'] = le.fit_transform(df['Date'])
# df['Time'] = le.fit_transform(df['Time'])

In [194]:
n_classes = len(df['AQI_Bucket'].unique())
n_classes

6

In [195]:
df['AQI_Bucket'].unique()

array([1, 2, 5, 3, 0, 4])

In [196]:
col_names = ['City','Date','State','StationId','Time','AQI']
df = df.drop(col_names,axis=1)
df

,AQI_Bucket,Benzene,CO,NH3,NO,NO2,NOx,O3,PM10,PM2.5,SO2,Toluene,Xylene,City_Dict,Date_Dict,State_Dict,StationId_Dict,Time_Dict
0,1,0.30,0.10,9.80,1.93,23.00,13.75,117.62,148.50,104.00,15.30,10.40,0.23,6672,174,28624,6672,8702
1,1,0.28,0.10,9.65,1.33,16.25,9.75,136.23,142.00,94.50,17.00,7.10,0.15,6672,174,28624,6672,8609
2,1,0.20,0.10,9.70,1.47,14.83,9.07,149.92,126.50,82.75,15.40,4.55,0.08,6672,174,28624,6672,8449
3,1,0.10,0.10,7.40,1.35,13.60,8.35,161.70,117.00,68.50,21.80,2.30,0.00,6672,174,28624,6672,8368
4,1,0.10,0.10,9.25,1.52,11.80,7.55,161.68,112.25,69.25,21.38,2.35,0.00,6672,174,28624,6672,8412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203688,2,65.42,1.06,40.23,44.95,69.05,114.03,16.70,192.38,102.80,7.53,59.69,1.84,22780,343,22780,3140,8609
203689,2,57.14,0.79,39.08,16.15,65.22,81.32,20.47,161.35,85.50,8.60,51.31,1.41,22780,343,22780,3140,8449
203690,2,53.71,0.66,38.53,8.40,52.65,61.08,26.58,143.65,73.75,9.82,51.38,1.25,22780,343,22780,3140,7677
203691,2,56.80,0.55,42.62,5.60,45.03,50.62,28.28,133.38,71.50,9.57,56.27,1.21,22780,343,22780,3140,8418
203692,2,56.04,0.62,48.02,4.20,39.00,43.17,31.63,117.12,54.47,9.20,55.58,1.12,22780,343,22780,3140,8368

In [197]:
X = df.drop('AQI_Bucket',axis=1)

In [198]:
y = df['AQI_Bucket']

In [199]:
from sklearn.model_selection import train_test_split

In [200]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size = 0.2, shuffle= True)

In [201]:
# !pip install xgboost

In [202]:
from xgboost import XGBClassifier

In [203]:
bst = XGBClassifier(n_estimators=100, max_depth=6, learning_rate=0.0001, objective='multi:softmax',num_class=n_classes,eval_metric= 'rmse')
# fit model
bst.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='rmse', feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=0.0001, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=6, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_class=6,
              num_parallel_tree=None, objective='multi:softmax', ...)

In [204]:
X_test[1:2]

,Benzene,CO,NH3,NO,NO2,NOx,O3,PM10,PM2.5,SO2,Toluene,Xylene,City_Dict,Date_Dict,State_Dict,StationId_Dict,Time_Dict
202310,87.85,1.1,21.77,79.95,70.0,148.93,28.37,133.45,64.2,3.62,126.09,5.21,22780,292,22780,3140,8759

In [205]:
# make predictions
preds = bst.predict(X_test[1:2])

In [206]:
preds

array([1])

In [207]:
label_pred = le.inverse_transform(preds)

In [208]:
label_pred

array(['Moderate'], dtype=object)